@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gray: #1A1A1A;
    --lightgray: #2B2B2B;
    --darkgray: #40383A;
    --red: #E7362C;
    --purple: #4e2d58;
    --lightPurple: #734082;
    --darkPurple: #341E3B;
}

body {
    max-width: 1980px;
    width: 100%;
    margin: auto;
}

header {
    display: flex;
    position: sticky;
    top: 0px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 20px;
    background-color: white;
    color: #1A1A1A;
    border-bottom: 1px solid #acacac;
}

#titleHeader {
    font-size: 1.5em;
    font-variant: small-caps;
}

header > div, nav > div {
    cursor: pointer;
}

#menuHeader {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#tema {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #1a1a1a;
    border-radius: 50%;
}

#abbrTema  {
    background-image: linear-gradient(to right, #1a1a1a 0%, #1a1a1a 50%,  white 50%, white 100%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

#secPosHeader {
    height: 400px;
    background: black url('imagens/img-bg.jpeg') center bottom no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 20px;
}

#navTitle {
    font-size: 1.8em;
}

#navTitle:hover {
    text-decoration: underline;
}

#navContent {
    text-transform: uppercase;
    font-size: 0.9em;
    display: flex;
    gap: 20px;
}

#navContent a {
    color: white;
    text-decoration: none;
}

#navContent a:hover {
    text-decoration: underline;
}

#starCenter {
    font-size: 2em;
}

#divPosNav {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 85vw;
    max-width: 670px;
    font-size: 1.1em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#linha {
    margin: auto;
    width: 35px;
    height: 5px;
    background-color: white;
}

#div-arrowDown {
    cursor: pointer;
}

#div-arrowDown a {
    color: white;
}

#div-arrowDown a:hover {
    color: #b0b0b0;
}

#div-arrowDown i {
    font-size: 4em;
}

#titleProject {
    font-size: 1.5em;
    margin: 30px 0px;
}

.contentProjects {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    padding: 50px 0px;
    gap: 40px;
}

#contentDiv {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#contentDiv > a {
    min-height: 135px;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
    padding-left: 5px;
    border-left: 5px solid transparent;
}

#contentDiv > a:hover {
    border-left: 5px solid var(--purple);
}

#divIcon {
    margin-top: 8px;
}

#divIcon i {
    color: white;
    background-color: var(--purple);
    padding: 10px;
    border-radius: 50%;
}

#divTextPr {
    width: 190px;
    text-align: left;
}

#divTextPr h2 {
    margin-bottom: 8px;
}

footer {
    background-color: var(--darkPurple);
    color: white;
    padding: 80px 130px 0px 130px;
}

footer > div {
    max-width: 1200px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.fChildFooter {
    display: flex;
    flex-flow: column nowrap;
}

#FirstChild {
    gap: 15px;
}

#SecondChild {
    gap: 40px;
}

#boxIconsFooter {
    cursor: pointer;
    display: flex;
    gap: 20px;
}

#boxIconsFooter i {
    font-size: 2.5em;
}

#boxSob, #boxSub {
    border-radius: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 150px;
    height: 150px;
}

#boxSob {
    z-index: 2;
    background-color: var(--lightPurple);
}

#boxSub {
    transform: translate(-10px, -10px);
    z-index: 1;
    background-color: var(--purple);
}

#fimFooter {
    padding: 12px;
    text-align: center;
    background-color: var(--purple);
}

#fimFooter a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    #SecondChild {
        flex-direction: row;
    }
}

@media screen and (min-width: 993px) {
    #secPosHeader {
        height: 500px;
    }

    #divPosNav {
        font-size: 1.4em;
        margin-top: 10px;
        gap: 30px;
    }

    footer > div {
        flex-direction: row;
    }
}
@media screen and (min-width: 1293px) {
    #secPosHeader {
        height: 600px;
    }

    #divPosNav {
        font-size: 1.5em;
        margin-top: 15px;
        gap: 35px;
    }
}
@media screen and (min-width: 1880px) {
    #secPosHeader {
        height: 750px;
    }

    #divPosNav {
        font-size: 1.6em;
        margin-top: 35px;
        gap: 45px;
    }
}
