@charset "UTF-8";

:root {
    --darkYellow: ;
    --lightYellow: ;
    --darkPurple: ;
    --lightPurple: ;
}

@media screen and (min-width: 768px) {
    /* MENU */
    .menuHamb {
        display: none;
    }

    nav {
        display: block;
    }

    body {
        max-width: 1100px;
    }

    #container {
        font-size: 1.6em;
    }

    .caixa {
        gap: 60px;
        min-width: 100%;
        padding: 0px 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0px;
    }

    .caixa img, .caixa > div {
        width: 50vw;
    }

    #caixaContr {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 768px) {
    .caixa p {
        margin-left: 80px;
    }
}